---
const { sectionLabel, sectionTitle, buttonText, buttonLink, items } =
  Astro.props;
---

<section
  id="avaliacoes"
  class="w-full rounded-2xl cms-bg-light-secondary js-avaliacoes relative"
>
  <div
    class="container mx-auto grid grid-cols-1 md:grid-cols-2 px-4 py-24 cms-text-dark"
  >
    <header
      class="flex flex-col gap-4 static lg:sticky lg:top-24 pb-8 lg:pb-24 items-start self-start"
    >
      <span
        class="inline-flex items-center gap-1 px-2.5 py-1.5 rounded-full border cms-border-dark js-avaliacoes-decorativo"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          viewBox="0 0 12 14"
          class="size-3.5 block cms-fill-dark"
        >
          <path
            d="M10.5 2.00036C9.73904 1.99967 8.98632 2.15784 8.29 2.46473C7.34625 0.879108 5.795 0.089733 5.72375 0.0528581C5.65428 0.0180978 5.57768 0 5.5 0C5.42232 0 5.34572 0.0180978 5.27625 0.0528581C5.205 0.089108 3.65125 0.879108 2.71 2.46473C2.01368 2.15784 1.26096 1.99967 0.5 2.00036C0.367392 2.00036 0.240215 2.05304 0.146447 2.1468C0.0526785 2.24057 0 2.36775 0 2.50036V5.00036C0.00164971 6.37198 0.515112 7.69362 1.43989 8.7066C2.36467 9.71958 3.6342 10.351 5 10.4772V12.6916L2.72375 11.5529C2.66498 11.5235 2.601 11.506 2.53547 11.5013C2.46993 11.4966 2.40412 11.5049 2.34178 11.5257C2.27945 11.5465 2.22182 11.5793 2.17219 11.6224C2.12255 11.6654 2.08188 11.7178 2.0525 11.7766C2.02312 11.8354 2.0056 11.8994 2.00094 11.9649C1.99628 12.0304 2.00458 12.0962 2.02535 12.1586C2.04613 12.2209 2.07898 12.2785 2.12203 12.3282C2.16508 12.3778 2.21748 12.4185 2.27625 12.4479L5.27625 13.9479C5.34572 13.9826 5.42232 14.0007 5.5 14.0007C5.57768 14.0007 5.65428 13.9826 5.72375 13.9479L8.72375 12.4479C8.84243 12.3885 8.93268 12.2845 8.97465 12.1586C9.01661 12.0327 9.00684 11.8953 8.9475 11.7766C8.88816 11.6579 8.7841 11.5677 8.65822 11.5257C8.53233 11.4838 8.39493 11.4935 8.27625 11.5529L6 12.6916V10.4772C7.3658 10.351 8.63533 9.71958 9.56011 8.7066C10.4849 7.69362 10.9984 6.37198 11 5.00036V2.50036C11 2.36775 10.9473 2.24057 10.8536 2.1468C10.7598 2.05304 10.6326 2.00036 10.5 2.00036ZM5 9.47286C3.90043 9.34854 2.88505 8.82399 2.14737 7.99917C1.40968 7.17435 1.00128 6.10693 1 5.00036V3.02786C2.09957 3.15217 3.11495 3.67673 3.85263 4.50155C4.59032 5.32637 4.99872 6.39379 5 7.50036V9.47286ZM5.5 5.21036C5.07938 4.29653 4.41724 3.51488 3.585 2.94973C4.18313 1.96286 5.085 1.33098 5.5 1.07473C5.91563 1.32973 6.8175 1.96161 7.415 2.94973C6.58289 3.51502 5.92078 4.29663 5.5 5.21036ZM10 5.00036C9.99872 6.10693 9.59032 7.17435 8.85264 7.99917C8.11495 8.82399 7.09957 9.34854 6 9.47286V7.50036C6.00128 6.39379 6.40968 5.32637 7.14736 4.50155C7.88505 3.67673 8.90043 3.15217 10 3.02786V5.00036Z"
          ></path>
        </svg>
        <p class="cms-text-dark font-inst text-[.875rem] leading-none">
          {sectionLabel}
        </p>
        <svg
          aria-hidden="true"
          focusable="false"
          viewBox="0 0 12 14"
          class="size-3.5 block cms-fill-dark"
        >
          <path
            d="M10.5 2.00036C9.73904 1.99967 8.98632 2.15784 8.29 2.46473C7.34625 0.879108 5.795 0.089733 5.72375 0.0528581C5.65428 0.0180978 5.57768 0 5.5 0C5.42232 0 5.34572 0.0180978 5.27625 0.0528581C5.205 0.089108 3.65125 0.879108 2.71 2.46473C2.01368 2.15784 1.26096 1.99967 0.5 2.00036C0.367392 2.00036 0.240215 2.05304 0.146447 2.1468C0.0526785 2.24057 0 2.36775 0 2.50036V5.00036C0.00164971 6.37198 0.515112 7.69362 1.43989 8.7066C2.36467 9.71958 3.6342 10.351 5 10.4772V12.6916L2.72375 11.5529C2.66498 11.5235 2.601 11.506 2.53547 11.5013C2.46993 11.4966 2.40412 11.5049 2.34178 11.5257C2.27945 11.5465 2.22182 11.5793 2.17219 11.6224C2.12255 11.6654 2.08188 11.7178 2.0525 11.7766C2.02312 11.8354 2.0056 11.8994 2.00094 11.9649C1.99628 12.0304 2.00458 12.0962 2.02535 12.1586C2.04613 12.2209 2.07898 12.2785 2.12203 12.3282C2.16508 12.3778 2.21748 12.4185 2.27625 12.4479L5.27625 13.9479C5.34572 13.9826 5.42232 14.0007 5.5 14.0007C5.57768 14.0007 5.65428 13.9826 5.72375 13.9479L8.72375 12.4479C8.84243 12.3885 8.93268 12.2845 8.97465 12.1586C9.01661 12.0327 9.00684 11.8953 8.9475 11.7766C8.88816 11.6579 8.7841 11.5677 8.65822 11.5257C8.53233 11.4838 8.39493 11.4935 8.27625 11.5529L6 12.6916V10.4772C7.3658 10.351 8.63533 9.71958 9.56011 8.7066C10.4849 7.69362 10.9984 6.37198 11 5.00036V2.50036C11 2.36775 10.9473 2.24057 10.8536 2.1468C10.7598 2.05304 10.6326 2.00036 10.5 2.00036ZM5 9.47286C3.90043 9.34854 2.88505 8.82399 2.14737 7.99917C1.40968 7.17435 1.00128 6.10693 1 5.00036V3.02786C2.09957 3.15217 3.11495 3.67673 3.85263 4.50155C4.59032 5.32637 4.99872 6.39379 5 7.50036V9.47286ZM5.5 5.21036C5.07938 4.29653 4.41724 3.51488 3.585 2.94973C4.18313 1.96286 5.085 1.33098 5.5 1.07473C5.91563 1.32973 6.8175 1.96161 7.415 2.94973C6.58289 3.51502 5.92078 4.29663 5.5 5.21036ZM10 5.00036C9.99872 6.10693 9.59032 7.17435 8.85264 7.99917C8.11495 8.82399 7.09957 9.34854 6 9.47286V7.50036C6.00128 6.39379 6.40968 5.32637 7.14736 4.50155C7.88505 3.67673 8.90043 3.15217 10 3.02786V5.00036Z"
          ></path>
        </svg>
      </span>

      <h2
        class="cms-text-dark lg:text-[4.2088rem] text-[3.125rem] text-start leading-none tracking-tighter max-w-[12ch] js-avaliacoes-title font-inst"
      >
        {sectionTitle}
      </h2>

      <a
        class="font-inst tracking-normal text-[1.3125rem] js-avaliacoes-button cms-text-dark"
        href={buttonLink}
      >
        {buttonText}
      </a>
    </header>

    <ul class="grid grid-cols-1 items-center md:grid-cols-2 gap-4">
      {
        items.map((item) => (
          <>
            {/* TIPO TEXTO (Novo Bloco) */}
            {item.type === "text" && (
              <li class="p-6 cms-bg-light rounded-2xl js-avaliacoes-cards h-fit flex flex-col gap-3">
                <div class="flex items-center gap-0.5">
                  {[...Array(5)].map(() => (
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      viewBox="0 0 14 14"
                      class="size-3.5 block cms-fill-dark"
                    >
                      <path d="M12.551 6.1794L9.08161 4.91831L7.82051 1.44893C7.75836 1.28148 7.64644 1.13705 7.4998 1.03507C7.35316 0.933083 7.17882 0.878418 7.0002 0.878418C6.82158 0.878418 6.64724 0.933083 6.5006 1.03507C6.35396 1.13705 6.24204 1.28148 6.17989 1.44893L4.91879 4.91831L1.44942 6.1794C1.28196 6.24156 1.13754 6.35347 1.03556 6.50011C0.933571 6.64675 0.878906 6.82109 0.878906 6.99971C0.878906 7.17833 0.933571 7.35267 1.03556 7.49931C1.13754 7.64595 1.28196 7.75787 1.44942 7.82002L4.91879 9.08167L6.17989 12.5505C6.24204 12.7179 6.35396 12.8624 6.5006 12.9644C6.64724 13.0663 6.82158 13.121 7.0002 13.121C7.17882 13.121 7.35316 13.0663 7.4998 12.9644C7.64644 12.8624 7.75836 12.7179 7.82051 12.5505L9.08215 9.08112L12.551 7.82002C12.7184 7.75787 12.8629 7.64595 12.9648 7.49931C13.0668 7.35267 13.1215 7.17833 13.1215 6.99971C13.1215 6.82109 13.0668 6.64675 12.9648 6.50011C12.8629 6.35347 12.7184 6.24156 12.551 6.1794ZM8.59051 8.32862C8.5305 8.35047 8.476 8.3852 8.43084 8.43036C8.38568 8.47551 8.35096 8.53001 8.32911 8.59002L7.0002 12.2442L5.67129 8.59002C5.64944 8.53001 5.61472 8.47551 5.56956 8.43036C5.5244 8.3852 5.4699 8.35047 5.40989 8.32862L1.75567 6.99971L5.40989 5.67081C5.4699 5.64895 5.5244 5.61423 5.56956 5.56907C5.61472 5.52391 5.64944 5.46941 5.67129 5.4094L7.0002 1.75518L8.32911 5.4094C8.35096 5.46941 8.38568 5.52391 8.43084 5.56907C8.476 5.61423 8.5305 5.64895 8.59051 5.67081L12.2447 6.99971L8.59051 8.32862Z" />
                    </svg>
                  ))}
                </div>
                <blockquote class="text-base leading-tight cms-text-dark">
                  "{item.text}"
                </blockquote>
                <footer class="text-base font-inst tracking-tight cms-text-dark mt-auto">
                  <cite class="not-italic">{item.author}</cite>
                </footer>
              </li>
            )}

            {/* TIPO IMAGEM */}
            {item.type === "image" && (
              <li class="p-6 cms-bg-light rounded-2xl js-avaliacoes-cards h-fit">
                <article class="flex flex-col gap-3">
                  <figure class="h-37.5">
                    <img
                      src={item.image}
                      alt={item.alt}
                      class="w-full h-full object-cover rounded-lg"
                    />
                  </figure>
                  <div class="flex items-center gap-0.5">
                    {[...Array(5)].map(() => (
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        viewBox="0 0 14 14"
                        class="size-3.5 block cms-fill-dark"
                      >
                        <path d="M12.551 6.1794L9.08161 4.91831L7.82051 1.44893C7.75836 1.28148 7.64644 1.13705 7.4998 1.03507C7.35316 0.933083 7.17882 0.878418 7.0002 0.878418C6.82158 0.878418 6.64724 0.933083 6.5006 1.03507C6.35396 1.13705 6.24204 1.28148 6.17989 1.44893L4.91879 4.91831L1.44942 6.1794C1.28196 6.24156 1.13754 6.35347 1.03556 6.50011C0.933571 6.64675 0.878906 6.82109 0.878906 6.99971C0.878906 7.17833 0.933571 7.35267 1.03556 7.49931C1.13754 7.64595 1.28196 7.75787 1.44942 7.82002L4.91879 9.08167L6.17989 12.5505C6.24204 12.7179 6.35396 12.8624 6.5006 12.9644C6.64724 13.0663 6.82158 13.121 7.0002 13.121C7.17882 13.121 7.35316 13.0663 7.4998 12.9644C7.64644 12.8624 7.75836 12.7179 7.82051 12.5505L9.08215 9.08112L12.551 7.82002C12.7184 7.75787 12.8629 7.64595 12.9648 7.49931C13.0668 7.35267 13.1215 7.17833 13.1215 6.99971C13.1215 6.82109 13.0668 6.64675 12.9648 6.50011C12.8629 6.35347 12.7184 6.24156 12.551 6.1794ZM8.59051 8.32862C8.5305 8.35047 8.476 8.3852 8.43084 8.43036C8.38568 8.47551 8.35096 8.53001 8.32911 8.59002L7.0002 12.2442L5.67129 8.59002C5.64944 8.53001 5.61472 8.47551 5.56956 8.43036C5.5244 8.3852 5.4699 8.35047 5.40989 8.32862L1.75567 6.99971L5.40989 5.67081C5.4699 5.64895 5.5244 5.61423 5.56956 5.56907C5.61472 5.52391 5.64944 5.46941 5.67129 5.4094L7.0002 1.75518L8.32911 5.4094C8.35096 5.46941 8.38568 5.52391 8.43084 5.56907C8.476 5.61423 8.5305 5.64895 8.59051 5.67081L12.2447 6.99971L8.59051 8.32862Z" />
                      </svg>
                    ))}
                  </div>
                  <blockquote>
                    <p class="text-base max-w-[25ch] leading-tight cms-text-dark">
                      "{item.text}"
                    </p>
                  </blockquote>
                  <footer class="text-base font-inst tracking-tight cms-text-dark">
                    <cite class="not-italic">{item.author}</cite>
                  </footer>
                </article>
              </li>
            )}

            {/* TIPO VÍDEO */}
            {item.type === "video" && (
              <li class="p-6 cms-bg-light rounded-2xl w-full relative h-87.5 js-avaliacoes-cards">
                <video
                  class="w-full h-full object-cover rounded-lg"
                  src={item.video}
                  preload="metadata"
                  playsinline
                />
                <button
                  type="button"
                  class="absolute inset-0 flex items-center justify-center group cursor-pointer"
                  aria-label="Reproduzir vídeo"
                  data-video
                >
                  <span class="size-16 rounded-full cms-bg-light flex items-center justify-center transition-transform duration-300 group-hover:scale-105 cms-text-dark">
                    {" "}
                    ▶{" "}
                  </span>
                </button>
              </li>
            )}
          </>
        ))
      }
    </ul>
  </div>
</section>
