---
const { title, buttonText, buttonLink, backgroundImage, backgroundAlt } =
  Astro.props;
---

<section
  id="contato"
  class="w-full js-cta flex justify-center items-center bg-cover bg-center bg-no-repeat relative h-dvh"
  style={`background-image: url(${backgroundImage});`}
  aria-label={backgroundAlt}
>
  <div
    class="container mx-auto px-2 py-24 flex flex-col gap-4 items-center justify-center"
  >
    <h1
      class="font-inst cms-text-light js-cta-title tracking-tighter text-center max-w-[13ch] leading-none text-[3.125rem] lg:text-[4.1875rem]"
    >
      {title}
    </h1>

    <a
      href={buttonLink}
      class="group w-fit inline-flex items-center gap-1.5 px-4 py-3 js-cta-button rounded-full cms-bg-light cms-text-dark font-inst text-[1.3125rem] leading-none tracking-tighter transition-colors duration-500 ease-in-out hover-cms-bg-dark hover-cms-text-light"
    >
      <svg
        aria-hidden="true"
        focusable="false"
        viewBox="0 0 12 14"
        class="size-5 transition-transform duration-1000 ease-in-out group-hover-rotate-360"
      >
        <path
          class="cms-fill-dark transition-colors duration-500 group-hover-cms-fill-light"
          d="M12 6.83686C12 6.83686 9.74419 6.83686 8.14326 6.14382C7.35436 5.72293 6.76119 5.0104 6.49034 4.15826C6.01907 2.84494 5.99822 0 5.99822 0C5.99822 0 5.97746 2.84841 5.50966 4.15826C5.2375 5.00968 4.6447 5.72178 3.85674 6.14382C2.25581 6.83686 0 6.83686 0 6.83686C0 6.83686 2.25581 6.83686 3.85674 7.52991C4.64375 7.95477 5.23602 8.66746 5.50966 9.51894C5.97746 10.8288 5.99822 13.6772 5.99822 13.6772C5.99822 13.6772 6.01907 10.8288 6.49034 9.51894C6.76139 8.66604 7.35438 7.95248 8.14326 7.52991C9.74419 6.83686 12 6.83686 12 6.83686Z"
        ></path>
      </svg>

      <span>{buttonText}</span>

      <svg
        aria-hidden="true"
        focusable="false"
        viewBox="0 0 12 14"
        class="size-5 transition-transform duration-1000 ease-in-out group-hover-rotate-neg-360"
      >
        <path
          class="cms-fill-dark transition-colors duration-500 group-hover-cms-fill-light"
          d="M12 6.83686C12 6.83686 9.74419 6.83686 8.14326 6.14382C7.35436 5.72293 6.76119 5.0104 6.49034 4.15826C6.01907 2.84494 5.99822 0 5.99822 0C5.99822 0 5.97746 2.84841 5.50966 4.15826C5.2375 5.00968 4.6447 5.72178 3.85674 6.14382C2.25581 6.83686 0 6.83686 0 6.83686C0 6.83686 2.25581 6.83686 3.85674 7.52991C4.64375 7.95477 5.23602 8.66746 5.50966 9.51894C5.97746 10.8288 5.99822 13.6772 5.99822 13.6772C5.99822 13.6772 6.01907 10.8288 6.49034 9.51894C6.76139 8.66604 7.35438 7.95248 8.14326 7.52991C9.74419 6.83686 12 6.83686 12 6.83686Z"
        ></path>
      </svg>
    </a>
  </div>
</section>
