---
const { logo, logoAlt, menu, socials, address, contacts, copyright } =
  Astro.props;
---

<footer class="w-full rounded-2xl mt-24 cms-bg-dark relative">
  <div class="container mx-auto px-4 pt-24 pb-8">
    <nav class="cms-text-light flex flex-col gap-24">
      <ul
        class="flex flex-col gap-8 lg:flex-row lg:justify-between text-[21px]"
      >
        <li aria-hidden="true">
          <svg
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 12 14"
            class="size-7 transition-transform duration-1200 ease-in-out group-hover:rotate-360 motion-reduce:transform-none"
          >
            <path
              class="cms-fill-light transition-colors duration-500 ease-in-out group-hover:cms-fill-light"
              d="M12 6.83686C12 6.83686 9.74419 6.83686 8.14326 6.14382C7.35436 5.72293 6.76119 5.0104 6.49034 4.15826C6.01907 2.84494 5.99822 0 5.99822 0C5.99822 0 5.97746 2.84841 5.50966 4.15826C5.2375 5.00968 4.6447 5.72178 3.85674 6.14382C2.25581 6.83686 0 6.83686 0 6.83686C0 6.83686 2.25581 6.83686 3.85674 7.52991C4.64375 7.95477 5.23602 8.66746 5.50966 9.51894C5.97746 10.8288 5.99822 13.6772 5.99822 13.6772C5.99822 13.6772 6.01907 10.8288 6.49034 9.51894C6.76139 8.66604 7.35438 7.95248 8.14326 7.52991C9.74419 6.83686 12 6.83686 12 6.83686Z"
            ></path>
          </svg>
        </li>

        <li>
          <h4 class="text-[.5625rem] pb-2">Menu</h4>
          <ul class="flex flex-col gap-2 font-inst">
            {
              menu.map((item) => (
                <li>
                  <a
                    href={item.href}
                    class="p-1 transition-colors hover-cms-text-light-alpha"
                  >
                    {item.label}
                  </a>
                </li>
              ))
            }
          </ul>
        </li>

        <li>
          <h4 class="text-[.5625rem] pb-2">Redes sociais</h4>
          <ul class="flex flex-col gap-2 font-inst">
            {
              socials.map((item) => (
                <li>
                  <a
                    href={item.href}
                    class="p-1 transition-colors hover-cms-text-light-alpha"
                  >
                    {item.label}
                  </a>
                </li>
              ))
            }
          </ul>
        </li>

        <li>
          <h4 class="text-[.5625rem] pb-2">Informações</h4>
          <address class="not-italic font-inst max-w-[25ch]">
            {address}
          </address>
        </li>

        <li>
          <h4 class="text-[.5625rem] pb-2">Contatos</h4>
          <ul class="flex flex-col gap-2 font-inst">
            {
              contacts.map((item) => (
                <li>
                  <a
                    href={item.href}
                    class="p-1 transition-colors hover-cms-text-light-alpha"
                  >
                    {item.label}
                  </a>
                </li>
              ))
            }
          </ul>
        </li>
        <li aria-hidden="true">
          <svg
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 12 14"
            class="size-7 transition-transform duration-1200 ease-in-out group-hover:rotate-360 motion-reduce:transform-none"
          >
            <path
              class="cms-fill-light transition-colors duration-500 ease-in-out group-hover:cms-fill-light"
              d="M12 6.83686C12 6.83686 9.74419 6.83686 8.14326 6.14382C7.35436 5.72293 6.76119 5.0104 6.49034 4.15826C6.01907 2.84494 5.99822 0 5.99822 0C5.99822 0 5.97746 2.84841 5.50966 4.15826C5.2375 5.00968 4.6447 5.72178 3.85674 6.14382C2.25581 6.83686 0 6.83686 0 6.83686C0 6.83686 2.25581 6.83686 3.85674 7.52991C4.64375 7.95477 5.23602 8.66746 5.50966 9.51894C5.97746 10.8288 5.99822 13.6772 5.99822 13.6772C5.99822 13.6772 6.01907 10.8288 6.49034 9.51894C6.76139 8.66604 7.35438 7.95248 8.14326 7.52991C9.74419 6.83686 12 6.83686 12 6.83686Z"
            ></path>
          </svg>
        </li>
      </ul>

      <div class="flex flex-col gap-4">
        <img src={logo} alt={logoAlt} />

        <div class="flex flex-col lg:flex-row justify-between text-sm">
          <p>{copyright}</p>

          <a
            href="https://doomicus.com/"
            class="hover-cms-text-light-alpha transition-colors"
          >
            Site criado por Pedro Doomicus
          </a>
        </div>
      </div>
    </nav>
  </div>
</footer>
